.group-#{$mrf_pro_group_name} {
    background-color: #{$mrf_pro_bg_color};
    color: #{$mrf_pro_fg_color};
}

.group-#{$mrf_another_group_name} {
    background-color: #{$mrf_another_bg_color};
    color: #{$mrf_another_fg_color};
}
